<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Template for debugging of watchwords</title>
</head>
<body>

<f:layout name="Default" />

<f:section name="content">

    <table border="1" cellspacing="1" cellpadding="5">
        <tr>
            <th>Copyright</th>
            <th>License</th>
            <th>Bible Link</th>
            <th>Verse Source</th>
            <th>Verse</th>
            <th>Date</th>
        </tr>

        <tr>
            <td>{watchword.copyright}</td>
            <td>{watchword.license}</td>
            <td>{watchword.bibleLink}</td>
            <td>{watchword.verseSource}</td>
            <td>{watchword.verse}</td>
            <td>{watchword.date}</td>
        </tr>
    </table>

</f:section>

</body>
