<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Standard template for watchwords</title>
</head>
<body>

<f:layout name="Default" />

<f:section name="content">

<h1>Verse of the day</h1>
<p>{watchword.verse}<br /><i><a href="{watchword.bibleLink}">{watchword.verseSource}</a></i>
<p>&copy;&nbsp;<a href="{watchword.license}">{watchword.copyright}</a></p>

</f:section>

</body>
